{% block title %}Confirm Payment{% endblock %}

{%- block header -%}
<h2>Confirm Payment<h2>
{% endblock %}

{%- block content -%}
<p class="lead">Click on confirm to complete your payment.</p>
<p>
    <a href="/api/method/paypal_integration.express_checkout.confirm_payment?token={{ token }}"
        class="btn btn-primary btn-lg">Confirm</a>
</p>
<hr>
<h4>Account Details</h4>
<div style="padding: 30px 0px;">
    {% if data.confirm_values %}
    <table class="table table-bordered" style="max-width: 400px;">
        <tbody>
        {% for item in data.confirm_values %}
            <tr>
                <td style="width: 50%">
                    {{ item.label }}
                </td>
                <td style="width: 50%">
                    {{ item.value }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}
